@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee-smooth {
  display: flex;
  width: max-content;
  animation: marqueeScroll 75s linear infinite;
}
.animate-marquee-smooth:hover {
  animation-play-state: paused;
}
